<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link href="../public/stylesheet.css" rel="stylesheet" />
  </head>
  <body>
    <header>
      <nav>
        <ul>
          <li><a href="works.hbs">Home</a></li>
        </ul>
      </nav>
      <h1>About {{name}}</h1>
      <h3>Biographie</h3>
    </header>
    <section>
      <div id="bio">Biographie</div>
      <p>Born in {{birth.location}} {{birth.year}}</p>
      <div>b</div>
      <div>c</div>
    </section>
    <lower-section>lower_section</lower-section>
    <footer>footer</footer>
  </body>
</html>